input {
  width: 20%;
  padding: 12px 20px;
  margin-top: 25px;
  border-radius: 4px;
}

label {
  color: #150c06;
  font-weight: bold;
  display: block;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 12px 25px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}
